/*
.image img {
  width: 100%;
  vertical-align: top;
}
*/

/*
.image:after {
  content: 'AM sss';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
*/
}

.image:hover:after {
  opacity: ;
}
.image:after {

  text-align: center;
  color: #fff;
  font-family: 'Trocchi', serif;

}
.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: 'Cinzel', serif;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


<!--- new -->

@import url("http://fonts.googleapis.com/css?family=Inconsolata:700,400");
@import url('http://weloveiconfonts.com/api/?family=entypo');
* {
  margin:0px;
  padding:0px;
  font-family: 'Inconsolata', sans-serif;
}
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  line-height:1.8rem;
  font-size:1.6rem;
  font-weight:normal;
}
.card img, .card .info, .card .info:before {
  position:absolute;
}
.card img, .card .info {
  -webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.15);
  -moz-box-shadow:   0px 0px 20px rgba(0,0,0,0.15);
  box-shadow:        0px 0px 20px rgba(0,0,0,0.15);
}
.card {
  position:relative;
  margin:5rem auto;
  width:400px;
  height:550px;
  background:transparent;
  cursor:pointer;
}
.card img {
  z-index:999;
  -webkit-animation:flipback2 5s forwards;
  -moz-animation:   flipback2 5s forwards;
  -o-animation:     flipback2 5s forwards;
  animation:        flipback2 5s forwards;
}
.card .info {
  bottom:50px;
  right:-20px;
  width:100%;
  padding:20px 40px 20px 20px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:   border-box;
  box-sizing:        border-box;
  background:rgba(255,255,255,0.4);
  z-index:555;
  -webkit-animation:flipfront2 5.7s forwards;
  -moz-animation:   flipfront2 5.7s forwards;
  -o-animation:     flipfront2 5.7s forwards;
  animation:        flipfront2 5.7s forwards;
}
.card .info:before {
  content:'i';
  top:0px;
  right:0px;
  width:20px;
  height:20px;
  text-align:center;
  font-weight:700;
  font-size:1rem;
  line-height:20px;
  color:white;
  background:black;
}
.card:hover img {
  -webkit-animation:flipback1 3s forwards;
  -moz-animation:   flipback1 3s forwards;
  -o-animation:     flipback1 3s forwards;
  animation:        flipback1 3s forwards;
}
.card:hover .info {
  -webkit-animation:flipfront1 5.7s forwards;
  -moz-animation:   flipfront1 5.7s forwards;
  -o-animation:     flipfront1 5.7s forwards;
  animation:        flipfront1 5.7s forwards;
}
.info h3 {
  font-size:1.8rem;
  font-weight:400;
  text-transform:uppercase;
  letter-spacing:2px;
  margin-bottom:1rem;
}
.info .links {
  list-style-type:none;
  margin-top:1.2rem;
}
.info .links li a,
.info .links .shareButtons,
.info .links .shareButtons a {
  display:block;
}
.info .links li a {
  width:39%;
  height:1.8rem;
  float:left;
  text-align:center;
  background:black;
  color:white;
  text-decoration:none;
  line-height:1.8rem;
}
.info .links li a:hover {
  text-decoration:line-through;
}
.info .links li:first-child a {
  margin-right:2%;
}
.info .links .shareButtons {
  width:10%;
  height:1.8rem;
  overflow:hidden;
  -webkit-transition:all 0.2s;
  -moz-transition:   all 0.2s;
  -o-transition:     all 0.2s;
  transition:        all 0.2s;
}

i{
    width: 28px;
    height: 28px;
}
.info .links .share:hover > .shareButtons {
  width:58%;
  -webkit-transition:all 1s;
  -moz-transition:   all 1s;
  -o-transition:     all 1s;
  transition:        all 1s;
}
.info .links .shareButtons a {
  width:2.5rem;
  float:left;
  background:transparent;
  color:rgba(0, 0, 0, 0.7);
  -webkit-transition:all 0.2s;
  -moz-transition:   all 0.2s;
  -o-transition:     all 0.2s;
  transition:        all 0.2s;
}
.info .links .shareButtons a:hover {
  text-decoration:none;
  color:rgb(255, 255, 255);
  -webkit-transform:scale(1.3);
  -moz-transform:   scale(1.3);
  -o-transform:     scale(1.3);
  -ms-transform:    scale(1.3);
  transform:        scale(1.3);
}
/* move card to frontside */
@-webkit-keyframes flipfront1 {
  0%, 100% {-webkit-transform:translateX(0px);}
  50%      {-webkit-transform:translateX(380px);}
}
@-moz-keyframes flipfront1 {
  0%, 100% {-moz-transform:translateX(0px);}
  50%      {-moz-transform:translateX(380px);}
}
@-o-keyframes flipfront1 {
  0%, 100% {-o-transform:translateX(0px);}
  50%      {-o-transform:translateX(380px);}
}
@keyframes flipfront1 {
  0%, 100% {transform:translateX(0px);}
  50%      {transform:translateX(380px);}
}

/* move card to backside */
@-webkit-keyframes flipfront2 {
  0%, 100% {-webkit-transform:translateX(0px);}
  50%      {-webkit-transform:translateX(380px);}
}
@-moz-keyframes flipfront2 {
  0%, 100% {-moz-transform:translateX(0px);}
  50%      {-moz-transform:translateX(380px);}
}
@-o-keyframes flipfront2 {
  0%, 100% {-o-transform:translateX(0px);}
  50%      {-o-transform:translateX(380px);}
}
@keyframes flipfront2 {
  0%, 100% {transform:translateX(0px);}
  50%      {transform:translateX(380px);}
}

/* move img to backside */
@-webkit-keyframes flipback1 {
  0%       {z-index:999;background:rgba(250,250,210,0);}
  100%     {z-index:111;background:rgba(250,250,210,1);}
}
@-moz-keyframes flipback1 {
  0%       {z-index:999;background:rgba(250,250,210,0);}
  100%     {z-index:111;background:rgba(250,250,210,1);}
}
@-o-keyframes flipback1 {
  0%       {z-index:999;background:rgba(250,250,210,0);}
  100%     {z-index:111;background:rgba(250,250,210,1);}
}
@keyframes flipback1 {
  0%       {z-index:999;background:rgba(250,250,210,0);}
  100%     {z-index:111;background:rgba(250,250,210,1);}
}

/* move img to frontside */
@-webkit-keyframes flipback2 {
  0%       {z-index:111;background:rgba(250,250,210,1);}
  100%     {z-index:999;background:rgba(250,250,210,0);}
}
@-moz-keyframes flipback2 {
  0%       {z-index:111;background:rgb(172, 172, 172);}
  100%     {z-index:999;background:rgba(250,250,210,0);}
}
@-o-keyframes flipback2 {
  0%       {z-index:111;background:rgb(209, 209, 209);}
  100%     {z-index:999;background:rgba(250,250,210,0);}
}
@keyframes flipback2 {
  0%       {z-index:111;background:rgba(250,250,210,1);}
  100%     {z-index:999;background:rgba(250,250,210,0);}
}

html, body {background:#37d379;}
